html{
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    height: 100vh;
    font-family: "Open Sans", sans-serif; 
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 64px 80px;
}

.main {
    display: flex;
}

.main .imagem img {
    width: 695px;
    margin-left: 80px;
}

.main .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    padding: 60px;
}

.main .texto h1 {
    padding-bottom: 40px;
}
.main .texto p {
    padding-bottom: 25px;
}

.main .texto a {
    display: flex;
    background-color: white;
    color: hsl(257, 40%, 49%);
    align-self: flex-start;
    text-decoration: none;
    font-weight: 500;
    width: 200px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.main .texto a:hover{
    background-color: #e980e7ff;
    color: white;
}

.footer {
    display: flex;
    align-self: flex-end;
    margin-right: 80px;
    padding-bottom: 40px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    display: flex;    
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    cursor: unset;
}

.fa-facebook-f .fa-twitter .fa-instagram, i:hover {
    color: #e980e7ff;
}